	body{
		margin: 0px auto;
		background-color: black;
	}

	/* Começo do cabeçalho */

	#header {
		background-color: white;
		width: 100%;
		height: 80px;
	}

	.main {
		max-width: 90%;
		margin: auto;
	}

	.main h1 {
		float: left;
		font-size: 32px;
		font-weight: 100;
	}

	.main span {
		font-weight: 900;
	}

	.main ul {
		list-style-type:none;
		float: right;
	}

	.main ul li{
		display: inline-block;
		padding: 5px 20px;
		font-size: 32px;
	}

	a {
		text-decoration: none;
		color:#bf8d59;
	}

	.main ul li a:hover {
		color: black;
	}

	/* Fim do cabeçalho */

	/* Inicio Menu */
	#nav {
		width: 100%;
		height: 100vh;
		background-color: #EEE;
		background: url(../img/cofe.jpg);
		background-position: center;
		background-attachment: fixed;
		text-align: center;
		position: relative;
	}

	.paragraf {
		position: absolute;
		width: 500px;
		height: 200px;
		color: white;
		top: 50%;
		left: 50%;
		font-size: 28px;
		margin: -100px 0px 0px -250px; 
		text-align: center;
	}

	.paragraf h4 {
		font-size: 38px;
	}

	.box {
		position: absolute; 
		top: 85%;
		left: 50%;
		width: 50px;
		height: 50px;

	}

	.box span {
		width: 20px;
		height: 20px;
	  	display: block;
		border-right: 2px solid #fff;
		border-bottom: 2px solid #fff;
		transform: rotate(45deg);
		margin: -10px;
		animation: animate 2s infinite;
		}

	.box span:nth-child(2) {
		animation-delay: -0.2s;
	}

	.box span:nth-child(3) {
		animation-delay: -0.4s;
	}

	@keyframes animate {
		0% {
			opacity: 0;
		}
		50% {
			opacity: 1;
			transform: rotate(45deg) translate(10px, 10px);
		}
		100% {
			opacity: 0;
		}
	}

	
	/* FIM Menu */

	/* Inicio section */

	.banner {
		background: url(../img/wehave.jpg);
		width: 100%;
		height: 425px;
		text-align: center;
		background-position: center;
		background-size: cover;
	}

	/* FIM section */

	/* Inicio da segunda section */

	.self {
		width: 100%;
		height: 425px;
		background-color: white;
		text-align: center;
		color: #bf8d59;
	}

	.img_self {
		width: 16.333%;
		height: 16.333vw;

	}

	.self h1 {
		font-size: 38px;
		margin: 0 auto;
		border-color: #bf8d59;
		padding-top: 10px;
	}

	.self hr {
		width: 50px;
		height: 5px;
		background-color:#bf8d59;
		border:none;
	}

	/* fim da segunda section*/

	/* Inicio footer */

	.footer_container {
		width: 100%;
		height: 230px;
		background-color:white ;
		text-align: center;
		text-align: left;
		background-color:#bf8d59;
	}

	.footer {
		max-width: 800px;
		margin: 0 auto;
		font-size: 18px;
		color:white;
	}

	.footer hr {
		background-color:white;
		border:none;
		height: 2px;

	}

	.footer h4 {
		padding-top: 2%;
		margin: 0 auto;
		color: white;
	}

	.img {
		display: flex;
		float: right;
		width: 70px;
		height: 50px;
		margin-right: -30px;
	}

	.img2 {
		width: 140px;
	}

	@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	}

	.img:hover {
		animation: bounce 1s;
	}

	/* FIM footer */

	/* ajustes */

	@media (max-width: 1400px) {

		#nav {
			height: 600px;
		}

		.section {
			height:350px;
		}
}

	@media (max-width:1100px) {

		.footer_container {
			height: 800;
		}
	}


	/* FIM ajustes */ 
